<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>

    <h1>Edit Campground</h1>

    <main>
        <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST">
        <div>
            <label for="titleInput">Title: </label>
            <input type="text" name="campground[title]" id="titleInput" value="<%= campground.title %> ">
        </div>

        <div>
            <label for="locationInput">Location: </label>
            <input type="text" name="campground[location]" id="locationInput" value="<%= campground.location %> ">
        </div>

        <button>Update Campground</button>
    </form>
        
        <div>
            <a href="/campgrounds/<%= campground.id %>">Back to Campground</a>
        </div>
    </main>
    
</body>
</html>