<% layout("layouts/boilerplate") %> 
<body>
    <h1>All Campgrounds</h1>
    <main>
        <a href="/campgrounds/new">Add New Campground</a>
        <ul>
            <% for(let campground of campgrounds) { %>
                <li><a href="/campgrounds/<%= campground.id %> "><%= campground.title %></a></li> 
                <% } %> 
        </ul>
    </main>