<% layout("layouts/boilerplate") %> 
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="titleInput">Title </label>
                    <input class="form-control" type="text" id="titleInput" name="campground[title]" required></input>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="locationInput">Location </label>
                    <input class="form-control" type="text" id="locationInput" name="campground[location]" required></input>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="descriptionInput">Description </label>
                    <textarea class="form-control" type="text" id="descriptionInput" name="campground[description]" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                      </div>
                </div>
               
                <div class="mb-3">
                    <label class="form-label" for="imageInput">Image URL </label>
                    <input class="form-control" type="text" id="imageInput" name="campground[image]" required></input>
                </div>
    
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
    
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
    