<% layout("layouts/boilerplate") %> 
<body>
    <main>
        <form action="/campgrounds" method="POST">
            <div>
                <label for="titleInput">Title: </label>
                <input type="text" for="titleInput" name="campground[title]"></input>
            </div>
            
            <div>
                <label for="locationInput">Location: </label>
                <input type="text" for="locationInput" name="campground[location]"></input>
            </div>

            <button>Add Campground</button>
        </form>

        <a href="/campgrounds">All Campgrounds</a>
    </main>    
