<% layout("layouts/boilerplate") %> 
<body>
    
    <main>
        <h1><%= campground.title %> </h1>
        <h2><%= campground.location %> </h2>


        <div>
            <a href="/campgrounds/<%= campground.id %>/edit">Edit</a>
        </div>

        <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
            <button>Delete Campground</button>
        </form>

        <div>
            <a href="/campgrounds">All Campgrounds</a>
        </div>

    </main>
