<% layout("layouts/boilerplate") %> 

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validatedForm" novalidate>
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required></input>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required></input>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <button class="btn btn-success btn-block col-12">Login</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>

